@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #a1e207  -13.86%, #00c3ff 102.67%);
  --gradient-bar: linear-gradient(103.22deg, rgb(0, 0, 0)  -13.86%, #05505a 99.55%);
  
  --color-bg: #040C18;
  --color-footer : #a1e207;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
}

@font-face {
  font-family: "Cyberpunk";
  src: local("Cyberpunk"),
   url("./fonts/Cyberpunk.ttf") format("truetype");
  font-weight: bold;
  }

  @font-face {
  font-family: "Dirtchunk";
  src: local("Dirtchunk"),
   url("./fonts/Dirtchunk.ttf") format("truetype");
  font-weight: bold;
  }

  @font-face {
    font-family: "Dirtchunko";
    src: local("Dirtchunko"),
     url("./fonts/Dirtchunk.otf") format("truetype");
    font-weight: bold;
    }